<!--Some Code From: https://github.com/hwz/chirp-->

<!DOCTYPE html>
	<head>
		<title>Logging Ahead</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="javascripts/logARunApp.js"></script>
		<script src="javascripts/calendar.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body data-ng-app="logARunApp">
		<div id='main' class="container">
			<nav class="navbar-fluid navbar-default navbar-fixed-top">
				<div class="container">
					    <a class="navbar-brand" href="#"> Logging Ahead </a>
					    <ul class = "nav navbar-nav" data-ng-hide="authenticated">
					    	<li><a href="/">Home</a></li>
					    </ul>
					    <ul class = "nav navbar-nav" data-ng-show="authenticated">
					    	<li><a href="#/">Home</a></li>
					    	<li><a href="#/calendar">My Calendar</a></li>
					    	<li><a href="teams.html">Privacy Settings</a></li>
					    </ul>
					    <p class="navbar-right navbar-text" data-ng-hide="authenticated"><a href="#/login">Login</a> or <a href="#/register">Register</a></p>
					    <p class="navbar-right navbar-text" data-ng-show="authenticated"><a href="#/home" data-ng-click="signout()">Logout</a></p>
					    <p class="navbar-right navbar-text" data-ng-show="authenticated">Signed in as {{user_currently_logged_in}}</p>		
				</div>
			</nav>
			<div class="col-md-offset-2 col-md-8">
				<div data-ng-view>
				</div>
			</div>
		</div>
	</body>
</html>