body {
	padding-top:70px;
	width: 100%;
    height: 100%;
	width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #00B7FF;
}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}
.todaydate{
    font-family: Josefin Sans, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0 !important;
	border-bottom: thick solid #000;
}
.title{
    height: 115px;
    width: inherit;
    font-family: 'Cinzel', serif;
    font-size: 60px;
    text-align: center;
}
.signInSignUpButton {
	background-color:#3db35d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3a942c;
    margin-right: 10px;
}
.signInSignUpButton:hover {
	background-color:#5ba135;
}
.signInSignUpButton:active {
	position:relative;
	top:1px;
}
table.calendar{
	margin-top: 10px;
	border-collapse:collapse;
	border-spacing: 20px;
	width: 100%;
}
table.calendar tr, table.calendar td{
	border: 5px solid #000;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-top:5px;
	text-align:left;
	vertical-align:top;
}
table.calendar td:hover{
	cursor: pointer;
	background-color:rgba(0,128,0,0.2);	
}