<div ng-Controller = "calController">
<div class="title">
My Calendar
</div>
<div class="todaydate">
    <table class="topbuttons">
    <tr>
    <td colspan="2">
    <input type="button" class="signInSignUpButton" value="< Previous" id="prevMonthBtn" ng-click="prevMonthControl()" />
    </td>
    <td colspan="3" id="currentMonthAndYear">
    	{{currentMonth.getDateObject(1).toLocaleString("en-us", { month: "long" })}} {{currentMonth.getDateObject(date.getDate()).getFullYear()}}

    </td>
    <td colspan = "2">
     <input type="button" class="signInSignUpButton" value="Next >" id="nextMonthBtn" ng-click="nextMonthControl()" />
    </td>
    </tr>
    
    </table>
</div>
<table class = "calendar" id = "calendar">
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>
    <tr ng-repeat="week in weeksArr">
	    <td ng-click="createLog(day)" ng-repeat="day in week.getDates()" >
	    	{{day.getDate()}}
	    </td>
    </tr>    
</table>
</div>