<!--Chirp App Form(input box for chirps), delete if desired
<div class="clearfix">
  <form data-ng-Submit="post()" data-ng-show="authenticated">
    <h4>{{current_user}} says</h4>
    <textarea required class="form-control" maxledata-ngth="200" rows="3" placeholder="Say somethidata-ng" data-ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
  </form>
</div> -->

<head>
  <script src="bower_components/adata-ngular/adata-ngular.js"></script>
                <script src="app.js"></script>
                <script src="bower_components/adata-ngular-route/adata-ngular-route.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/adata-ngularjs/1.4.2/adata-ngular.min.js"></script>
 				<script src="bower_components/data-ngtweet/dist/data-ngtweet.min.js"></script>
                <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="javascript/jquery-1.9.1.min.js"></script>
                <!-- Latest compiled and minified CSS -->
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				<!-- Optional theme -->
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0Jutldata-nGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
				<!-- Latest compiled and minified JavaScript -->
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<div data-ng-controller="newsFeedController">    
    <h3> Today's Leaderboard </h3>
    <div class = "leaderboard">
      <ol class="leadersList">
     	 <li class="post" data-ng-repeat="log in newsLogs | orderBy: 'mileage' : true | limitTo:10" data-ng-class-odd="'odd'" data-ng-class-even="'even'"> 
	          <span>{{log.username}}: {{log.mileage}}</span>
        </li>
      </ol>
    </div>
</div>

<!-- RSS Feed http://jsfiddle.net/mahbub/b8Wcz/-->

<div class="container-fluid">
    <div data-data-ng-controller="FeedCtrl">
        <div class="row-fluid">
            <h4>Check Out Today's News:</h4>
            <form>
                <div class="input-prepend span12">
              <div class="btn-group">
                <button class="btn btn-info" type="button" tabindex="-1">Load</button>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" tabindex="-1" data-ng-click="loadFeed($event)">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" data-ng-click="feedSrc='https://news.google.com/news?cf=all&hl=en&pz=1&ned=us&output=rss';loadFeed($event);">Top Stories</a></li>
                  <li><a href="#" data-ng-click="feedSrc='https://news.google.com/news?cf=all&hl=en&pz=1&ned=us&topic=s&output=rss';loadFeed($event)">Sports Top Stories</a></li>
                  <li><a href="#" data-ng-click="feedSrc='https://news.google.de/news/feeds?pz=1&cf=all&ned=us&hl=en&q=track+and+field&output=rss';loadFeed($event)">Runnidata-ng</a></li>
				</ul>
              </div>
                    <input type="text" class="span10" autocomplete="off" placeholder="Feed URL" data-ng-model="feedSrc" />
            </div>
               <div class="input-prepend" data-ng-show="feeds.ledata-ngth > 0">
              <span class="add-on"><i class="icon-search"></i></span>
                   <input class="span12" type="text" placeholder="Search" data-ng-model="filterText" />
               </div>
            </form>
        </div>
        <div class="row-fluid">
            <ul class="unstyled">
                <span class="badge badge-warnidata-ng" data-ng-show="feeds.ledata-ngth > 0">{{(feeds | filter:filterText).ledata-ngth}} Items</span>
                <li data-ng-repeat="feed in feeds | filter:filterText">                    
                    <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>                                        
                    <p class="text-left">{{feed.contentSnippet}}</p>                    
                    <span class="small">{{feed.publishedDate}}</span>
               </li>                
            </ul>            
        </div>
    </div>
</div>



<div id="post-stream" data-ng-controller="newsFeedController">
	<h4>Community News Feed</h4>
		<div class="post" data-ng-repeat="log in newsLogs | orderBy:'created_at':true" data-ng-class-odd="'odd'" data-ng-class-even="'even'"> 
			<p><strodata-ng>Miles:</strodata-ng>{{log.mileage}}</p> 
			<p><strodata-ng>Time in Minutes:</strodata-ng>{{log.timeMinutes}}</p>
			<p><strodata-ng>Description:</strodata-ng>{{log.description}}</p>
			<small>Posted by @{{log.username}}</small>
			<small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		</div>
</div>


